################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
v15
\.vs\IndianGardenz\v15\.suo

